alabaster==0.7.16
Babel==2.15.0
certifi==2024.2.2
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
dill==0.3.8
docutils==0.21.2
fonttools==4.51.0
idna==3.7
imagesize==1.4.1
Jinja2==3.1.4
joblib==1.4.2
jum==0.8
kiwisolver==1.4.5
Markdown==3.6
MarkupSafe==2.1.5
matplotlib==3.8.4
nibabel==5.2.1
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pillow==10.3.0
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==7.3.7
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
tzdata==2024.1
urllib3==2.2.1
xxhash==3.4.1
yattag==1.15.2
